<div>
    <h1>Edit Your Profile </h1>
    <hr>
    <div class="col-md-4">
      <form [formGroup]="profileForm" (ngSubmit)="saveProfile(profileForm.value)">
        <div class="form-group">
          <label  for="userName">UserName:</label>
          <input id="userName" formControlName="userName" type="text" name="userName" class="form-control" required placeholder="UserName...">
        </div>
        <hr>
        <button type="submit" class="btn btn-primary">Save</button>
        <button type="button" class="btn btn-default" (click)="cancel()">Cancel</button>
        <button type="button" class="btn btn-default" (click)="logout()" style="float: right;">Logout</button>
      </form>
    </div>
  </div>